.ourobjective_text{
text-align: center;
font-family: Helvetica;
font-size: 2.75rem;
font-weight: 700;
line-height: 55px;
letter-spacing: -0.05em;
}

.ourobjective_bottom{
  display: flex;
}

.ourobjective_container{
  width: 100%;
  border: 2px solid red;

}
.ourobjective_subcontainer{
  width: 80%;
  border: 2px solid gray;
  margin: 0 auto;
}

.ourobjective_bottom{
  width: 100%;
}

.ourobjective_left{
  width: 45%;
  margin: 0 auto;
  border: 2px solid yellow;
}
.ourobjective_left_image{
  border: 2px solid red;
  width: 80%;
  margin: 0 auto;
}
.ourobjective_left img{
  width: 100%;
  border: 2px solid red;
  margin: 0 auto;

}

.ourobjective_right{
  width: 60%;
}

.ourobjective_right_subcontainer{
  padding: 30px;
}


.objective_one, .objective_two, .objective_three{
  display: flex;
  padding-bottom: 40px;
}

.objective_one_number, .objective_two_number, .objective_three_number{
  padding-right: 20px;
  font-weight: 700;
  font-size: 44px;
  color:  rgba(235, 70, 0, 1);
  padding-bottom  : 30px;
  position: relative;
  top: -20px

}

.objective_one_content, .objective_two_content, .objective_three_content{
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);



}

@media screen and (max-width: 800px) {
  .ourobjective_container{
    margin-top: 80px;
  }
  .ourobjective_bottom{
    margin-top: 15px;
  }
  .ourobjective_right_subcontainer{
  padding: 20px 3px;
}

  .ourobjective_left{
    display: none;
  }
  .ourobjective_right{
    margin: 0 auto;
    width: 100%;
  }

}
@media screen and (max-width: 500px) {
  .ourobjective_container{
    margin-top: 160px;
  }
 

}
