.about_fourth_container{
  width: 100%;
}

.about_fourth_subcontainer{
  width: 60%;
  margin: 0 auto;
  /* border: 2px solid blue; */
}

.about_fourth_top{
  /* border: 2px solid red; */

}
.about_fourth_top_first_text{
  font-weight: 700;
  color: rgba(0, 8, 74, 1);
  font-size: 2.5rem;
}
.about_fourth_top_second_text{
  color: rgba(235, 70, 0, 1);
  font-weight: 600;
  font-size: 2.4rem;

}

.about_fourth_subwrapper{
  display: flex;
  
}
.about_fourth_subwrapper > div{
  margin-right: 20px;
}
.about_fourth_top_third_text{
  width: 400px;
  padding-top: 15px;
  color: rgba(34, 34, 34, 1);
  font-family: 'Inter';

}

.about_fourth_middle{
  /* border: 2px solid yellow; */
  width: 70%;
  /* margin: 0 auto; */
}
.about_fourth_middle > div{
  margin-top: 40px;
  color: rgba(34, 34, 34, 1);
  font-family: 'Inter';
  font-size: 1rem;
}
.seventy-seven{
  color: rgba(0, 8, 74, 1);
  font-size: 2rem;
  font-weight: 700;
}
.percent{
  color: rgba(235, 70, 0, 1);
  font-size: 2rem;
  font-weight: 700;
}
.about_fourth_middle_list{
  display: flex;
}
.about_fourth_bullets{

}

.about_fourth_middle_list div:not(:first-child):before {
  content: '\2022'; /* Unicode character for bullet point (•) */
  position: relative;
  font-size: 30px;
  top: 3px;
  padding-right: 4px;
  color: #ff0000; 
}

.about_fourth_image_container{
  /* border: 2px solid red; */
  display: flex;
  justify-content: end;
  position: relative;
  top: -11.25rem;
  left: 5rem;

}

@media screen and (max-width: 1125px) {
  .about_fourth_image_container{
  top: -11.25rem;
  left: 6rem;
 }
 .about_fourth_image{
  width: 15.625rem;
  height: 15.625rem;
 }

}

@media screen and (max-width: 900px) {
  .about_fourth_image_container{
  top: -11.25rem;
  left: 3rem;
 }
 .about_fourth_image{
  width: 11.625rem;
  height: 11.625rem;
 }
}

/* MOBILE VIEW */


@media screen and (max-width: 750px) {


.about_fourth_middle{
  margin: 0 auto;


}

  
.about_fourth_image_container{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  position: static;
  padding: 30px;

}
.about_fourth_top{
  display: inline;
}
.about_fourth_top_first_text{
  display: inline;
  font-size: 2rem;
}

.about_fourth_subwrapper{
  display: inline;
}
.about_fourth_top_second_text{
  display: inline;
}
.about_fourth_top_second_text{
  display: inline;
}

.about_fourth_subwrapper{

}

.about_fourth_middle{
  width: 90%;
}
  
 
}





