*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav__con{
    display: flex;
    /* padding: 0.3em 4em; */
    border: 2px solid red;
    align-items: center;
}
.logodiv{
    width: 40%;
    border: 2px solid yellow;
    padding-left: 6.875rem;
}
.logo{
    /* width: 20%; */
    width: 100px;
}
nav{
    /* margin-left: auto; */
    /* width: 50em; */
    margin-left: -40px;
    width: 60%;
}
.hamburger{
    display: none;
    margin-right: 20px;
}
.nav__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    /* border: 2px solid blue; */
}
.nav__list li{
    height: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 125.5%;
    color: #111111;
    cursor: pointer;
}
.nav__list li:nth-child(5){
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 40px;
    width: 126px;
    height: 40px;
    background: #EB4600;
    color: white;
    box-shadow: 0px 13px 14px rgba(255, 122, 0, 0.82);
    border-radius: 10px;
}

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 

@media screen and (max-width: 760px ) {
    .logodiv{
        width: 20%;
        padding-left: 1.875rem;

        border: 2px solid orange;

    }
    .nav__list{
        flex-direction: column;
        border: 2px solid red;
    }
    nav{
        /* display: none; */
        position: absolute;
        top: 66px;
        width: 100%;
        margin-left: 0px;
    }
    .nav__list > li{
        border: 1px solid blue;
        padding: 20px 0px;
        align-items: center;
        /* padding-bottom: 50px; */
        /* padding-top: 40px; */
        height: auto;
    }
    .nav__con{
        justify-content: space-between;
    }
    .hamburger{
        display: inline;
    }
    .nav__list li:nth-child(5){
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 40px;
    width: 126px;
    height: 40px;
    background: #EB4600;
    color: white;
    box-shadow: 0px 13px 14px rgba(255, 122, 0, 0.82);
    border-radius: 10px;
}

    
}