.about_second_container{
  margin-top: 100px;
  margin-bottom: 100px;
  /* border: 2px solid black; */
}


.about_second_subcontainer{
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  
  width: 60%;
  margin: 0 auto;
}
.about_second_left{
  width: 60%;
  /* display: flex; */
  /* border: 2px solid black; */
  /* justify-content: space-around; */
  margin-right: 50px;
  margin-top: 50px;
}
.about_second_left_maintext{
  font-weight: 700;
  font-size: 2.75rem;
  padding: 20px;
  /* border: 2px solid gray; */
  font-family: "Helvetica";
  color:  rgba(0, 8, 74, 1);


}
.about_second_left_subtext{
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px;
  /* border: 2px solid orange; */
  font-family: "Inter";
  color: rgba(0, 0, 0, 1);

;
}
.about_second_right{
  width: 40%;
  /* border: 2px solid pink; */
}

@media screen and (max-width: 1300px) {
  .about_second_left_maintext{
  font-size: 2rem;
 }
 .about_second{
    margin-top: 0px;
  }
  
}

@media screen and (max-width: 1000px) {

  .about_second{
    margin-top: 0px;
  }
 .about_second_subcontainer{
  width: 90%;

 }
 .about_second_left_maintext{
  font-size: 2rem;
 }
 
 
  .about_second_left{
    width: 70%;
    margin: 0 auto;
  }


}

@media screen and (max-width: 777px) {

  .about_second_left_maintext{
  font-size: 1.7rem;
 }

 .about_second_right{
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: 2px solid red;
 }

 .about_second_right img{
  width: 230px;
  height: 230px;
  /* margin-left: -40px; */


 }
 


}


@media screen and (max-width: 530px) {

  .about_second_subcontainer{
    flex-direction: column;
    margin: 0px auto;
    /* margin-top: 250px; */
    /* margin-left: 0px; */
    

  }


}




@media screen and (max-width: 400px) {

 .about_second_left_maintext {
    font-size: 1rem;
}


}

